@charset "utf-8";
body {
  background: #ffdafe;
}
/*===================================变量=============================*/
.box {
  width: 100px;
  height: 100px;
  background: #ffff00;
}
/*===================================变量=============================*/
/*===================================混合使用=============================*/
.border {
  border: 3px solid #ccc;
}
.box {
  width: 100px;
  height: 100px;
  background: #ffff00;
  border: 3px solid #ccc;
}
.box2 {
  width: 100px;
  height: 100px;
  background: #ffff00;
  border: 3px solid #ccc;
  margin-left: 100px;
}
.test {
  border: 10px solid #eeeeee;
}
.test {
  border: 10px solid #eeeeee;
  border: 30px solid #eeeeee;
}
.borderDiv {
  width: 10px;
  height: 10px;
  background: aliceblue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/*===================================混合使用=============================*/
/*===================================匹配模式=============================*/
.sanjiaoTop {
  border-width: 5px;
  border-color: transparent transparent #ff6600 transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
.sanjiaoRight {
  border-width: 5px;
  border-color: transparent transparent transparent #ff6600;
  border-style: dashed dashed dashed solid;
  width: 0;
  height: 0;
  overflow: hidden;
}
.sanjiaoBottom {
  border-width: 5px;
  border-color: #ff6600 transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
.sanjiaoLeft {
  border-width: 5px;
  border-color: transparent #ff6600 transparent transparent;
  border-style: dashed solid dashed dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
.positionDemo {
  width: 10px;
  height: 10px;
  background: green;
}
/*===================================匹配模式=============================*/
/*===================================运算,是针对变量的,加减乘除=============================*/
.div {
  width: 320px;
}
.div {
  height: 6000px;
}
/*===================================运算,是针对变量的,加减乘除=============================*/
/*===================================嵌套循环=============================*/
.list {
  margin: 10px auto;
  padding: 0;
  list-style: none;
  width: 650px;
}
.list li {
  margin-bottom: 10px;
  background: pink;
  height: 40px;
}
.list li:hover {
  color: red;
}
.list a {
  float: left;
}
.list span {
  float: right;
}
/*===================================嵌套循环=============================*/
